<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>DEBT</h1>
                    <hr class="small">
                    <span class="subheading">An arthouse film by Camera 3 Productions</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Interview with the team
                    </h2>
                    <h3 class="post-subtitle">
                        The questions you want the answers to!
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Ollie</a> on January 13, 2017</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Interview with the team
                    </h2>
                    <h3 class="post-subtitle">
                        The questions you want the answers to!
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Ollie</a> on January 13, 2017</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Interview with the team
                    </h2>
                    <h3 class="post-subtitle">
                        The questions you want the answers to!
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Ollie</a> on January 13, 2017</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Interview with the team
                    </h2>
                    <h3 class="post-subtitle">
                        The questions you want the answers to!
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Ollie</a> on January 13, 2017</p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
